<span id="busuanzi_container_page_pv">
  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
</span>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2112749"></script>
<!-- UY END -->
<footer class="article-footer">
    <div class="authorimage">
        <img src="/assets/img/avatar.JPG" alt="My Avatar" class="img-circle">
    </div>
    <section class="author">
        <h4><a href="/about.html">王</a></h4>
        <a href="mailto:work_wjj@163.com">work_wjj@163.com</a>
    </section>
</footer>
